<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center my-4"><%= @restaurant.name %></h1>
      <p><strong>Address:</strong> <%= @restaurant.address %></p>
      <p><strong>Phone Number:</strong> <%= @restaurant.phone_number %></p>
      <p><strong>Category:</strong> <%= @restaurant.category %></p>

      <h3 class="mt-4">Reviews</h3>
      <ul>
        <% @restaurant.reviews.each do |review| %>
          <li>
            <strong>Rating:</strong> <%= review.rating %><br>
            <%= review.content %>
          </li>
        <% end %>
      </ul>
      <div class="text-center mb-3">
        <%= link_to 'Add Review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
      </div>
      <div class="text-center mt-3">
        <%= link_to 'Back to Restaurants', restaurants_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
